<div class="actions clearfix">
    <div class="btns">
        <a class="btn btn-primary" href="/post/save" title="Criar Post">
            Criar Post
        </a>
    </div>  
</div>  
<h3>Lista de Posts</h3>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Título</th>
            <th>Texto</th>
            <th width="130" class="center">Data</th>
            <th width="120" class="center">Opções</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach($posts as $post):?>
        <tr>
            <td><?php echo $this->escapeHtml($post->title);?></td>
            <td><?php echo $this->escapeHtml($post->description);?></td>
            <td class="center">
            <?php 
            echo $this->dateFormat(
                \DateTime::createFromFormat('Y-m-d H:i:s', $post->post_date),
                \IntlDateFormatter::SHORT,  
                \IntlDateFormatter::SHORT, 
                'pt_BR'
            );
            ?>
            </td>
            <td class="center">
                <a href="/post/save/<?php echo $post->id ;?>" 
                    title="Editar">
                    Editar
                </a>
                <a href="/post/delete/<?php echo $post->id;?>" 
                    rel="confirmation" 
                    title="Deseja excluir este registro?">
                    Remover
                </a>
            </td>
        </tr>
        <?php endforeach;?>
    </tbody>
</table>